# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Legacy dynamatic directory (install your own)
legacy-dynamatic/

# Out directory
compile/out

# Compiled benchmarks
benchmarks/**/dynamatic
benchmarks/**/legacy
benchmarks/**/bridge

# Build directory
build/

# pycache
__pycache__